{% extends "__object.twig" %}

{% block content_iformation %}
<p><b>Gambit Esports</b> <p>
<p>В прошлом сильнейшая СНГ команда по CS:GO, команда заслужила уважения на мировой арене выиграв большое количество турниров. В 2021 году состав был полностью обновлен, но на данный момент так и не завоевал крупных побед, но держит высокие места в топе команд.
В 2022 году состав был полностью выкуплен организацией CLOUD9 и подает большие надежды, дойдя до полуфинала ESL Major, но из-за недостатка опыта, не смогли пройти дальше.</p>
{% endblock %}