{% extends "__object.twig" %}

{% block content_iformation %}
	<p>
		<b>NAVI</b>
		— Сейчас команда NAVI является одним из лидеров в мировом соревновательном CS:GO. Участники команды регулярно попадают в списки лучших игроков мира (в частности, Александр «s1mple» Костылев стал лучшим игроком мира по версии портала hltv.org в 2018 и 2021 гг., а в 2019 и 2020 занял 2-е место в аналогичном рейтинге). 
        Также Natus Vincere несколько раз возглавляли топ команд по версии hltv.org. В 2021 году Natus Vincere достигли важного успеха — выиграли Intel Grand Slam, соревнование для команд высочайшего уровня, которые выиграли за игровой сезон 4 турнира ESL.
        К сожалению в 2022 году команда уже не может достигнуть высоких результатов, после смены капитана команда не смогла пройти даже бразильскую команду Furia в Плей-офф.</p>
{% endblock %}
