{% extends "__object.twig" %}

{% block content_iformation %}
<p><b>Virtus Pro</b> — Российская команда по CS:CO, одна из самых извесных на мировой арене. В современной истории состава неизменными игроками отсаются толькоко Jame и Qiqert. До 2022 года состав входил в топ 5 команд мира по данной десциплине.
В 2022 году команда потеряла организацию и вынуждена выступать под тегом Outsiders, но это не помешало стать коамндой, занимающей топ 1 в мире.
ESL Major 2022 является главным турниром по CS:GO и Jame и компания заслужили победу, безответно обыграв ДАтскую команду в финале.</p>
{% endblock %}